.logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  font-size: 18px;
}

.navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
